.main{
    width: 80%;
    margin: 20vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carBody2{
    position: relative;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 300px;
    border-top-left-radius: 40px;
    border-top-right-radius: 90px;
}
.carBody1{
    position: relative;
    top: 10px;
    left: 20px;
    height: 100px;
    width: 200px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.window1{
    position: relative;
    top:5px;
    left: 5px;
    z-index: 100;
    height: 80px;
    width: 80px;
    border-top-left-radius: 60px;
    background: rgb(15, 169, 230);
}
.window2{
    position: relative;
    top:-75px;
    right: -110px;
    z-index: 100;
    height: 80px;
    width: 80px;
    border-top-right-radius: 60px;
    background: rgb(15, 169, 230);
}
.wheel{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wheel1{
    position: relative;
    top: -30px;
    left: 20px;
}
.wheel2{
    position: relative;
    top: -110px;
    left: 190px;
}
.rim{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgb(116, 116, 116);
}